<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youssra Elmortai</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/7b7fa7c68b.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-items"><a href="#" class="nav-link"><i class="fa-solid fa-house"></i><span class="link-text">home</span></a></li>
      <li class="nav-items"><a href="#" class="nav-link"><i class="fa-solid fa-ghost"></i><span class="link-text">ghost</span></a></li>
      <li class="nav-items"><a href="#" class="nav-link"><i class="fa-solid fa-bomb fa-shake"></i><span class="link-text">bomb</span></a></li>
      <li class="nav-items"><a href="#" class="nav-link"><i class="fa-solid fa-paint-roller"></i><span class="link-text">color</span></a></li>
      <li class="nav-items"><a href="https://twitter.com/youssra_exe" class="nav-link"><i class="fa-brands fa-twitter"></i><span class="link-text">twitter</span></a></li>
      <li class="nav-items"><a href="https://github.com/zombie0youssra" class="nav-link"><i class="fa-brands fa-github"></i><span class="link-text">github</span></a></li>
    </ul>
  </nav>


    </ul>
  </nav>
