<%- include('./partials/head') %>

  <header><img class="logo" src="./logo+background.png" alt="squad B logo"></header>
  
  <main>
    <section>
      <img class="shoe" src="./orange shoe with shadow.png" alt="ornage jordan high top sneaker">
    </section>
  
    <div class="button-container">
      <span>squad members</span>
      <button>randomize <i class="fa-solid fa-shuffle"></i></button>
    </div>
  
  
  </main>


<%- include('./partials/foot') %>
