<%- include('./partials/head') %>

<section class="titel">
  <h1>Welcome</h1>
</section>

<main>
  <section class="card-container">
    <div class="card">
      <img class="card-img" src="/david-transparent.png"></img>
      <div class="card-stickers"></div>
    </div>
  </section>

  <section class="info">
    <h2><%= member.name +" "+ member.surname %></h2>
    <div class="bio"><%- member.bio.html %></div>
  </section>

<section class="code"><span>html</span> <span>css</span> <span>javascript</span>
</section>
</main>


<%- include('./partials/foot') %>
