:root {
    /* colors */
    --background-color: #252422;
    --text-color-1: #403D39;
    --text-color-2: #D9D9D9;
    --extra-accent-colors: #EB5E28;
    --sub-accent-color: #FF4700;


    /* fonts and sizes*/
    
}

body {
    background-color: var(--background-color);
    color: #D9D9D9;
    margin: 0;
    padding: 0;
    font-family:'roboto', sans-serif;
    
}

/* big blobby boii */

.blob{
    background-color: #EB5E28;
    height: 20em;
    aspect-ratio: 1;
}

/* scrollbar */

body::-webkit-scrollbar {
    width: 0.3em
}

body::-webkit-scrollbar-track {
    background: var(--text-color-1);
}

body::-webkit-scrollbar-thumb {
    background: var(--sub-accent-color);
}



.logo {
    height: 15em;
    width: auto;
    margin-left: 4em;
}


ul {
    margin-left: 0.7em;
    display: flex;

}

li {
    list-style: none;
    margin-left: 2.5em;

}


li a {
    text-decoration: none;
    color: #D9D9D9;
}

li a:hover {
    color: var(--extra-accent-colors);
}





/* text-animation */
/* van cyd gestolen */
.marquee {
    margin: 1.25rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem) 0;
    overflow: hidden;
    font-size: 1.5rem;
    font-family:'Oswald',sans-serif; 
}

.marquee span{
    color: var(--text-color-2);
}

.marquee strong{
    color: var(--sub-accent-color);
}

.marquee p {
    width: max-content;
    animation: to-the-left 11s linear infinite;
}


@keyframes to-the-left {
    to {
        transform: translateX(calc(-100% / 4));
    }
}


.shoe-box{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 20em;
    width: 10em;
    margin-left: -2em;
    margin-bottom: 8em;
    top: -3em;
}

.shoe {
    height: 30em;
    width: 30em;
}

.shoe-2{
    display: none;
    height: 30em;
    width: 30em;
}

.shoe-3 {
    display: none;
    height: 30em;
    width: 30em;
}





/* member cards */


.card-container{
    margin-left: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 3em;
    
}


.member-card{
    background-color:var(--text-color-1);
    height: auto;
    width: 43%;
    border-bottom:solid var(--text-color-1);
}

.member-card:hover{
    opacity: 80%;
    border-bottom: solid var(--sub-accent-color);
}

.member-card img {
    height: 6em;
    width: auto;
    margin-left: 3em;
    margin-top: 1em;
}


.member-card p {
    margin-left: 2.8em;
}

.member-card i {
    color: var(--text-color-2);
    margin-left: 0.5em;
}

.member-card i:hover{
    color: var(--sub-accent-color);
}

/* form and container  */

.container-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.quote-img{
    height: 24em;
    width: auto;
    margin-left: 1.5em;
}


.quote-shoe {
    display: none;
    height: 24em;
    width: auto;
    margin-top: -2.2em;
    margin-left: 1.5em;
}

.form{
    display: none;
}

/* different buttons */

.button-container {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin-bottom: 2em;
}



button {
    width: 10em;
    height: 3em;
    margin-left: 1.4em;
    border-radius: 2em;
    border-color: transparent;
}

button:hover{
    border: #FF4700 solid 0.2em;
}

button a{
    text-decoration: none;
    color: var(--text-color-1);
}


button i {
    color: var(--sub-accent-color);
}

/* resize for.... */

@media screen and (min-width: 600px) {

    .logo {
        height: 13em;
        width: auto;
        margin-left: 6.2em;
    }




    ul {
        margin-left: 1.4em;
        display: flex;

    }

    .text {
        margin-left: 4em;
    }

    /* more shoes appear */

    .shoe-2 {
        display: block;
        margin-left: -5em;
        height: 30em;
        width: 30em;
    }

    .shoe-3 {
        display: block;
        margin-left: -5em;
        height: 30em;
        width: 30em;
    }

    /* member card resize */

    .member-card {
        background-color: #403D39;
        height: auto;
        width: 30%;
    }

    .form {
        display: block;
        margin-top: 4em;
        margin-left: 3em;
        height: 13em;
        width: 20em;
        background-color: var(--extra-accent-colors);
    }

    .quote-shoe {
        display: block;
    }

        .button-container{
            margin-left: 2em;
        }
        }
