:root{
    --dark-mode-bgcolor: #0c063e;
    --dark-mode-bgcolor2:#060324;
    --dark-mode-text-color: #5B8FB9;
    --dark-mode-accent-color:#301E67;
    --dark-mode-accent-color2:#b6ceea;
    --dark-mode-accent-color3:#DEFCF9;
    --light-mode-bgcolor:#579BB1;
    --light-mode-bgcolor2:#E1D7C6;
    --light-mode-text-color:#ECE8DD;
    --light-mode-accent-color:#F8F4EA;
    --light-mode-accent-color2:#FFFFD0;
    --light-mode-accent-color3: #F3CCFF;

}

body{
    font-family: 'Poppins';
    background-color:var(--dark-mode-bgcolor);
    color: var(--dark-mode-text-color);
    margin: 0;
    padding:0 ;
}

body::-webkit-scrollbar{
    width: 0.25em
}

body::-webkit-scrollbar-track{
    background: var(--dark-mode-accent-color);
}

body::-webkit-scrollbar-thumb{
    background: var(--dark-mode-text-color);
}

.navbar{
    width: 6em;
    height: 100vh;
    position: fixed;
    background-color: var(--dark-mode-bgcolor2);
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}


.nav-link{
    display: flex;
    align-items:center;
    height: 6em;
    color: var(--dark-mode-text-color);
    text-decoration: none;
}

.nav-link i{
    font-size: 25px;
}

.link-text{
    display: none;
    margin-left: 1.5em;
}

.navbar:hover{
    width: 10em ;
}

.navbar:hover .link-text{
    display: block;
}


.nav-link:hover{
    color: var(--dark-mode-accent-color3);
}

.titel{
    margin-left: 8em;
    display: flex;
}


main {
    margin-left: 8em;
    display: flex;
    flex-direction: column;
}

.card{
    height: 20em;
    width: 10em;
    background-color:var(--dark-mode-accent-color)
    
}

.card-img{
    margin-left: -1em;
    margin-top: -2em;
    height: 25em;
    width: 18em;
}

.info{
    margin-top: 0.2em;
    width: 15em;
}


.code{
    margin-top: 0.4em;
}

@media screen and (min-width: 600px) {
    
}
